<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="5"
    android:versionName="1.2.4" >

	<uses-permission android:name="android.permission.INTERNET" />

	<application>
		<uses-library android:name="org.apache.http.legacy" android:required="false"/>

	</application>
    
</manifest>
